.container_about {
  background-color: #f2f2f2 !important;
}
.breadcrumb {
  font-size: 14px !important;
  color: #000;
  margin-bottom: 10px !important;
  padding-left: 14px !important;
}

.breadcrumb a {
  text-decoration: none;
  color: #000;
}

.container_blog {
  padding: 20px 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card_blog {
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 20px;
  text-align: center;
  width: 31.33% !important;
  box-sizing: border-box;
}

.card_blog img {
  max-width: 100%;
  height: auto;
}
